# **Titanic Data Science Solutions**

In [27]:
#libraries
import pandas as pd
import numpy as np
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
#Load
df = pd.read_csv('https://raw.githubusercontent.com/wellingtondantas/Data-Science/master/Datasets/titanic.csv')
df.head()

   Passengerid   Age     Fare  Sex  ...  Embarked  zero.17  zero.18  2urvived
0            1  22.0   7.2500    0  ...       2.0        0        0         0
1            2  38.0  71.2833    1  ...       0.0        0        0         1
2            3  26.0   7.9250    1  ...       2.0        0        0         1
3            4  35.0  53.1000    1  ...       2.0        0        0         1
4            5  35.0   8.0500    0  ...       2.0        0        0         0

[5 rows x 28 columns]

In [9]:
#Number of instances
print(df.shape)

#columns in Data Frame
print(df.columns)

#columns null
df.isnull().sum()

(1309, 28)
Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'zero.1',
       'zero.2', 'zero.3', 'zero.4', 'zero.5', 'zero.6', 'Parch', 'zero.7',
       'zero.8', 'zero.9', 'zero.10', 'zero.11', 'zero.12', 'zero.13',
       'zero.14', 'Pclass', 'zero.15', 'zero.16', 'Embarked', 'zero.17',
       'zero.18', '2urvived'],
      dtype='object')

Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       2
zero.17        0
zero.18        0
2urvived       0
dtype: int64

In [13]:
#Values null
df[df.isnull().any(axis=1)]

     Passengerid   Age  Fare  Sex  ...  Embarked  zero.17  zero.18  2urvived
61            62  38.0  80.0    1  ...       NaN        0        0         1
829          830  62.0  80.0    1  ...       NaN        0        0         1

[2 rows x 28 columns]

In [14]:
#Drop values null
df.dropna(inplace=True)

In [18]:
#New Data Frame
ndf = pd.DataFrame(df, columns=['Age','Fare','Sex','sibsp','Parch','Pclass','Embarked','2urvived'] )
ndf

       Age      Fare  Sex  sibsp  Parch  Pclass  Embarked  2urvived
0     22.0    7.2500    0      1      0       3       2.0         0
1     38.0   71.2833    1      1      0       1       0.0         1
2     26.0    7.9250    1      0      0       3       2.0         1
3     35.0   53.1000    1      1      0       1       2.0         1
4     35.0    8.0500    0      0      0       3       2.0         0
...    ...       ...  ...    ...    ...     ...       ...       ...
1304  28.0    8.0500    0      0      0       3       2.0         0
1305  39.0  108.9000    1      0      0       1       0.0         0
1306  38.5    7.2500    0      0      0       3       2.0         0
1307  28.0    8.0500    0      0      0       3       2.0         0
1308  28.0   22.3583    0      1      1       3       0.0         0

[1307 rows x 8 columns]

In [20]:
#Change columns
ndf.columns = ['Age','Fare','Sex','Family','Dependents','Class','Embarked','Survived']
ndf.head()

    Age     Fare  Sex  Family  Dependents  Class  Embarked  Survived
0  22.0   7.2500    0       1           0      3       2.0         0
1  38.0  71.2833    1       1           0      1       0.0         1
2  26.0   7.9250    1       0           0      3       2.0         1
3  35.0  53.1000    1       1           0      1       2.0         1
4  35.0   8.0500    0       0           0      3       2.0         0

In [23]:
#Create age range
conditions = [(ndf['Age'] <= 10), (ndf['Age'] <= 30), (ndf['Age'] > 30)]
choices = [0,1,2]
ndf['Age Range'] = np.select(conditions, choices, default='black')
ndf['Age Range'] = ndf['Age Range'].astype('float64')

In [24]:
#Create fare range
conditions = [(ndf['Fare'] <= 100), (ndf['Fare'] > 100)]
choices = [0,1]
ndf['Fare Range'] = np.select(conditions, choices, default='black')
ndf['Fare Range'] = ndf['Fare Range'].astype('float64')

In [26]:
#Show dataframe
ndf.head()

    Age     Fare  Sex  Family  ...  Embarked  Survived  Age Range  Fare Range
0  22.0   7.2500    0       1  ...       2.0         0        1.0         0.0
1  38.0  71.2833    1       1  ...       0.0         1        2.0         0.0
2  26.0   7.9250    1       0  ...       2.0         1        1.0         0.0
3  35.0  53.1000    1       1  ...       2.0         1        2.0         0.0
4  35.0   8.0500    0       0  ...       2.0         0        2.0         0.0

[5 rows x 10 columns]

In [35]:
# Transformation data
from sklearn.preprocessing import MinMaxScaler

In [38]:
#Norm
adjusted_variables = MinMaxScaler()
raw_variables = ['Fare Range', 'Sex','Class', 'Age Range']
X = adjusted_variables.fit_transform(ndf[raw_variables])
Y = output_variables = ndf['Survived']

In [41]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.20,random_state=42) 

print(f'Train: {len(x_train)}')
print(f'Test: {len(x_test)}')

Train: 1045
Test: 262

In [43]:
#KNN
from sklearn.neighbors import KNeighborsClassifier 

clf_KNN = KNeighborsClassifier(n_neighbors=5)

 
clf_KNN.fit(x_train, y_train)


KNN = clf_KNN.predict(x_test)

In [45]:
#DecisionTree (DT)
from sklearn.tree import DecisionTreeClassifier

clf_tree = DecisionTreeClassifier(random_state=1)


clf_tree.fit(x_train, y_train)


DT = clf_tree.predict(x_test)

In [47]:
#RandomForest (RF)
from sklearn.ensemble import RandomForestClassifier

clf_forest = RandomForestClassifier(max_depth=5, random_state=1)

clf_forest.fit(x_train, y_train)

RF = clf_forest.predict(x_test)

In [48]:
#SVM
from sklearn.svm import SVC

clf_svm=SVC(gamma='auto',random_state=1)

clf_svm.fit(x_train, y_train)

SVM = clf_svm.predict(x_test)

In [49]:
#MLP
from sklearn.neural_network import MLPClassifier 

clf_mlp = MLPClassifier(solver='lbfgs', alpha=1e-2, hidden_layer_sizes=(20, 20), random_state=1)

# Treinando o modelo
clf_mlp.fit(x_train, y_train)

# Testando o modelo
MLP = clf_mlp.predict(x_test)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [50]:
from sklearn.metrics import accuracy_score

print(f' KNN: {accuracy_score(y_test, KNN)*100}')
print(f' DT: {accuracy_score(y_test, DT)*100}')
print(f' RF: {accuracy_score(y_test, RF)*100}')
print(f' SVM: {accuracy_score(y_test, SVM)*100}')
print(f' MLP: {accuracy_score(y_test, MLP)*100}')

 KNN: 80.1526717557252
 DT: 79.00763358778626
 RF: 79.00763358778626
 SVM: 78.62595419847328
 MLP: 79.00763358778626